<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195651295578-ii8qfloujorka12h4bqt6rjerhafs7f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195651295578-ii8qfloujorka12h4bqt6rjerhafs7f6</string>
	<key>API_KEY</key>
	<string>AIzaSyBevYuwXG1yUbuRePsVQGu9Ziuatvhfd-k</string>
	<key>GCM_SENDER_ID</key>
	<string>195651295578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ihlasmobile.quiztestapp</string>
	<key>PROJECT_ID</key>
	<string>ihlas-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>ihlas-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:195651295578:ios:53894aee464ceee9defb63</string>
</dict>
</plist>
